<main>
  <a href="https://github.com/LePeruvienn/BUT3-Web-Semantique" style="display: flex; align-items: center;">
  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 30 30">
    <path d="M15,3C8.373,3,3,8.373,3,15c0,5.623,3.872,10.328,9.092,11.63C12.036,26.468,12,26.28,12,26.047v-2.051 c-0.487,0-1.303,0-1.508,0c-0.821,0-1.551-0.353-1.905-1.009c-0.393-0.729-0.461-1.844-1.435-2.526 c-0.289-0.227-0.069-0.486,0.264-0.451c0.615,0.174,1.125,0.596,1.605,1.222c0.478,0.627,0.703,0.769,1.596,0.769 c0.433,0,1.081-0.025,1.691-0.121c0.328-0.833,0.895-1.6,1.588-1.962c-3.996-0.411-5.903-2.399-5.903-5.098 c0-1.162,0.495-2.286,1.336-3.233C9.053,10.647,8.706,8.73,9.435,8c1.798,0,2.885,1.166,3.146,1.481C13.477,9.174,14.461,9,15.495,9 c1.036,0,2.024,0.174,2.922,0.483C18.675,9.17,19.763,8,21.565,8c0.732,0.731,0.381,2.656,0.102,3.594 c0.836,0.945,1.328,2.066,1.328,3.226c0,2.697-1.904,4.684-5.894,5.097C18.199,20.49,19,22.1,19,23.313v2.734 c0,0.104-0.023,0.179-0.035,0.268C23.641,24.676,27,20.236,27,15C27,8.373,21.627,3,15,3z"></path>
  </svg>
  github
  </a>
  <h1>BUT3 Projet Web Sémantique</h1>
  <p><strong> Prérequis </strong></p>
  <p> Lancer votre serveur local <strong>GraphDB</strong> et importer les données RDF qui sont dans le dossier <a href="https://github.com/LePeruvienn/BUT3-Web-Semantique/tree/main/rdf">/rdf</a> du dépot. Les fichiers à importer sont tout les fichiers se terminé par <code>.ttl</code>.</p>
  <label for="sparqlEndpoint">Veuillez entrer l'URL de votre SPARQL endpoint :</label>
  <input type="url" id="sparqlEndpoint" name="sparqlEndpoint" placeholder="http://localhost:7200/repositories/[name]">
  <p><i>Sans un URL valide les requête ne fonctionnerons pas !</i></p>
  <h2>1. Trouver une question intéressante à laquelle répondre.</h2>
  <p>Après avoir receuilli des donnés depuis le site internet <a href="https://ourworldindata.org/natural-disasters">ourworldindata</a> sur les différentes catastrophes naturelles. Vous pouvez retrouver les données dans le fichier <a href="https://github.com/LePeruvienn/BUT3-Web-Semantique/blob/main/data_set/distasters_data.xlsx">disasters_data.xlsx</a></p>
  <p> Nous nous somme poser alors la question :</p>
  <ul>
     <li>
        <h3>Quelles sont les pays les plus impacté par les catastrophes naturelle et technologique ?</h3>
     </li>
  </ul>
  <p>Grace à cette grande questions nous pourrons, répondre notamment à plusieurs question secondaires, comme par exemple :</p>
  <ul>
     <li>
        <p><strong>Quelles sont les pays les plus affecter humainement par ces désastre ?</strong></p>

        <ul>
           <li>Pour les catastrophe naturelle et technologique</li>
           <li>Par rapport au nombre de personne personne affecté</li>
           <li>Par rapport au nombre de décès</li>
        </ul>
     </li>
     <li>
        <p><strong>Quelles sont les pays qui sont le plus touché par les désastres économiquement?</strong></p>
        <ul>
           <li>Pour les catastrophe naturelle et technologique</li>
           <li>Par rapport à leurs PIB</li>
        </ul>
     </li>
  </ul>
  <p>
    Le but est de pouvoir normaliser l'impact des catastrophes de chaque pays à leurs population et leurs économie afin de voir quelles sont les pays qui sont le plus affecté par les catastrophes.
  </p>
  <h2>2. Créez une ontologie pour décrire le domaine.</h2>
  <p>Pour le projet nous avons utilisé le logicielle <strong>Protégé</strong> qui nous as permit de créer notre ontologie. Si vous souhaitez directement allez consulter les données, vous pouvez allez voir le fichier <a href="https://github.com/LePeruvienn/BUT3-Web-Semantique/blob/main/rdf/ontologie.ttl">ontologie.ttl</a>.</p>
  <h3>Description des données</h3>
  <p>Voici les préfix utilisé pour cette ontologie</p>
  <pre>&commat;prefix iut: <https://cours.iut-orsay.fr/npbd/> .
&commat;prefix dis: <https://cours.iut-orsay.fr/npbd/disaster/> .
&commat;prefix cou: <https://cours.iut-orsay.fr/npbd/country/> .
&commat;prefix reg: <https://cours.iut-orsay.fr/npbd/region/> .
&commat;prefix loc: <https://cours.iut-orsay.fr/npbd/location/> .
&commat;prefix imp: <https://cours.iut-orsay.fr/npbd/impact/> .
&commat;prefix dat: <https://cours.iut-orsay.fr/npbd/date/> .
&commat;prefix frm: <https://cours.iut-orsay.fr/npbd/forme/> .
&commat;prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
&commat;prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
&commat;prefix xsd: <http://www.w3.org/2001/XMLSchema#> .
&commat;prefix geo: <http://www.opengis.net/ont/geosparql#>.</pre>
  <p>Définition des différentes classes et leurs propriétées</p>
  <h3><code>iut:Disaster</code> (Désastre)</h3>
  <p>Cette classe as pour but de modéliser une catastrophe qui c&#39;est produit dans le monde</p>
  <p><strong>Sous-classes</strong></p>
  <ul>
     <li><code>iut:NaturalDisaster</code> (Désastre Nautrelle)</li>
     <li><code>iut:TechnologicalDisaster</code> (Désastre Technologique)</li>
  </ul>
  <p><strong>Propriétées</strong></p>
  <ul>
     <li><code>iut:code</code> (Code unique du désastre)</li>
     <li><code>iut:eventName</code> (Nom données à cette évenement)</li>
     <li><code>iut:disasterGroup</code> (Groupe lié à cette catastrophe)</li>
     <li><code>iut:disasterType</code> (Type de la catastrophe)</li>
     <li><code>iut:occuredIn</code> (Lieu d&#39;une catastrophe)</li>
     <li><code>iut:hasImpact</code> (Impacte d&#39;un catastrophe)</li>
     <li><code>iut:eventDate</code> (Période du désastre)</li>
     <li><code>iut:magnitude</code> (Magnitude de l&#39;évenement)</li>
     <li><code>iut:magnitudeScale</code> (Echelle de la magnitude)</li>
  </ul>
  <h3><code>iut:Location</code> (Lieu du désastre)</h3>
  <p>Lieu ou c&#39;est dérouler la catastrophe</p>
  <p><strong>Propriétées</strong></p>
  <ul>
     <li><code>iut:adress</code> (Adresse exacte du lieu)</li>
     <li><code>iut:isInCountry</code> (Pays dans lequel se trouve le lieu)</li>
     <li><code>iut:latitude</code> (Latitude de la catastrophe)</li>
     <li><code>iut:longitude</code> (longitude de la catastrophe)</li>
     <li><code>geo:hasGeometry</code> (Forme GeoSPARQL de l&#39;évenement)</li>
  </ul>
  <h3><code>iut:Impact</code> (Impact d&#39;un évenement)</h3>
  <p>Impact que le désastre à eu sur le monde</p>
  <p><strong>Sous-classes</strong></p>
  <ul>
     <li>
        <p><code>iut:HumanImpact</code> (Impact humain du désastre)</p>
        <ul>
           <li>
              <em>Propriétées</em>
              <ul>
                 <li><code>iut:totalDeath</code> (Nombre total de personne morte)</li>
                 <li><code>iut:noInjured</code> (Nombre de personne bléssés)</li>
                 <li><code>iut:noAffected</code> (Nombre de personne affectées directement de ou indirectement)</li>
                 <li><code>iut:noHomeless</code> (Nombre de personne à la rue du à la castrophe)</li>
                 <li><code>iut:totalAffected</code> (Nombre total de personne affectées)</li>
              </ul>
           </li>
        </ul>
     </li>
     <li>
        <p><code>iut:EconomicImpact</code> (Impact économique du désastre)</p>
        <ul>
           <li>
              <em>Propriétées</em>
              <ul>
                 <li><code>iut:totalDamage</code> (Dommages économique totaux)</li>
                 <li><code>iut:reconstructionCost</code> (Coût estimé pour la reconstruction)</li>
              </ul>
           </li>
        </ul>
     </li>
  </ul>
  <h3><code>iut:Date</code> (Date d&#39;un évement)</h3>
  <p>Date et duration d&#39;un évenement</p>
  <p><strong>Propriétées</strong></p>
  <ul>
     <li><code>iut:startYear</code> (Année ou l&#39;éveneent à débuté)</li>
     <li><code>iut:startMonth</code> (Mois ou l&#39;évenemnt à débuté)</li>
     <li><code>iut:startDay</code> (Jour ou l&#39;évenement à débuté)</li>
     <li><code>iut:endYear</code> (Année ou l&#39;éveneent à terminé)</li>
     <li><code>iut:endMonth</code> (Mois ou l&#39;évenemnt à terminé)</li>
     <li><code>iut:endDay</code> (Jour ou l&#39;évenement à terminé)</li>
  </ul>
  <h3><code>iut:Country</code> (Pays)</h3>
  <p>Pays ou s&#39;est dérouler l&#39;évenement</p>
  <p><strong>Propriétées</strong></p>
  <ul>
     <li><code>iut:code</code> (Code unique du pays)</li>
     <li><code>iut:countryName</code> (Nom du pays)</li>
     <li><code>iut:isInRegion</code> (Nom de la région dans lequel est le pays)</li>
     <li><code>iut:population</code> (Nombre de personne vivant dans le pays)</li>
     <li><code>iut:lifeExpectancy</code> (Espérance de vie dans le pays)</li>
     <li><code>iut:area</code> (Taille de la surface du pays en km2)</li>
     <li><code>iut:humanDevelopmentIndex</code> (Indice de développement humain du pays)</li>
     <li><code>iut:gdp</code> (PIB du pays)</li>
  </ul>
  <h3><code>iut:Region</code> (Continent)</h3>
  <p>Région ou s&#39;est dérouler l&#39;évenement</p>
  <p><strong>Propriétées</strong></p>
  <ul>
     <li><code>iut:code</code> (Code unique de la région)</li>
     <li><code>iut:RegionName</code> (Nom de la région)</li>
     <li><code>iut:population</code> (Nombre de personne vivant dans la région)</li>
     <li><code>iut:area</code> (Taille de la surface de la région en km2)</li>
  </ul>
  <h2>3. Convertissez l&#39;ensemble de données tabulaires en RDF et téléchargez le fichier RDF dans GraphDB.</h2>
  <p><strong>Configuration des données</strong></p>
  <p>Après avoir receuilli les données je les ai mit dans OntoRefine et commencer à le <em>RDF mapping</em>. Durant mon <em>RDF mapping</em>, j&#39;ai du utilisé l&#39;outil <em>GREL</em> de OntoRefine pour ajoutez des conditionnel à mes données, par exempe avec la classe <code>NaturalDisaster</code> et <code>TechnologicalDisaster</code>, mais aussi pour pouvoir convertir mes proritété <code>latitude</code> et <code>longitude</code> en point <em>GeoSPARQL</em>.</p>
  <ul>
     <li><em>GREL</em> pour mettre le type du triplet en <code>NaturalDisaster</code> ou <code>TechnologicalDisaster</code> dépandant de son type de désastre.</li>
  </ul>
  <pre>
if(value == "Natural", "NaturalDisaster", if(value == "Technological", "TechnologicalDisaster", "iut:Disaster"))
</pre>
  <ul>
     <li><em>GREL</em> pour convertir les propritété de <code>latitude</code> et <code>longitude</code> en point <em>GeoSPARQL</em></li>
  </ul>
  <pre>
if(isNotNull(cells["Latitude"].value) && isNotNull(cells["Longitude"].value), "Point(" + cells["Latitude"].value + " " + cells["Longitude"].value + ")")
</pre>
  <p>Vous pouvez consultez ma configuration du RDF mapping avec le fichier <a href="https://github.com/LePeruvienn/BUT3-Web-Semantique/blob/main/rdf/mapping.json">mapping.json</a>.</p>
  <p><strong>Exportation des données</strong></p>
  <p>Ensuite j&#39;ai converti les données en RDF. Vous pouvez consultez les données dans le fichier <a href="https://github.com/LePeruvienn/BUT3-Web-Semantique/blob/main/rdf/triples.ttl">triples.ttl</a>.</p>
  <p>J&#39;ai ensuite alors importez mes données dans <strong>GraphDB</strong> et continuer la suite du projet ...</p>
  <h2>4. Utilisez SPARQL pour lier les entités au graphe de connaissances externe</h2>
  <h3><code>CONSTRUCT</code></h3>
  <p>Nous allons d&#39;abord effectuer des requêtes <em>CONSTRUCT</em> pour observer les résulstats des requêtes sur notre graph</p>
  <h4>Lier les données des pays de wikidata à nos données locales</h4>
  <p>Listes des données récupérer par <strong>WikiData</strong> :</p>
  <ul>
     <li><code>population</code> : Nombre de personne vivant dans le pays</li>
     <li><code>lifeExpectancy</code> : Espérance de vie dans le pays</li>
     <li><code>area</code> : Taille de la surface du pays en km2</li>
     <li><code>humanDevelopmentIndex</code> : Indice de développement humain du pays</li>
     <li><code>gdp</code> : PIB du pays</li>
  </ul>
  <p><strong>Requête</strong> :</p>
  <pre>{{listStrings[0]}}</pre>
  <h4>Lier les données des régions de wikidata à nos données locales</h4>
  <p>Listes des données récupérer par <strong>WikiData</strong> :</p>
  <ul>
     <li><code>population</code> : Nombre de personne vivant dans le continent</li>
     <li><code>area</code> : Taille de la surface du continent en km2</li>
  </ul>
  <p><strong>Requête</strong> :</p>
  <pre>{{listStrings[1]}} </pre>
  <h3><code>INSERT</code></h3>

  Pour insérer les données dans le graph nous anvons ensuite qu'as remplacer les <code>CONSTRUCT</code> par <code>INSERT</code> et les données seront insérer à notre graphe locale.

  <h2>5. Répondez à la question décrite à l&#39;étape 1.</h2>
  <h3>Quelles sont les pays les plus affecter humainement par ces désastre ?</h3>
  <ul>
     <li>Pour les catastrophe naturelle et technologique</li>
     <li>Par rapport au nombre de personne personne affecté</li>
     <li>Par rapport au nombre de décès</li>
  </ul>
  <h4>Requête de base</h4>
  <p>Voici la requête de base, on fera varier les paramêtres pour répondre à tout.</p>
  <ul>
     <li>
        <p>On fera varier le <code>rdf:type</code> de <code>?disaster</code> en fonction de si on veut une catastrophe naturelle ou technologique.</p>
     </li>
     <li>
        <p>On fera varier la propritété <code>iut:totalAffected</code> de <code>?impact</code> en <code>iut:totalDeath</code>, en fonction de si on veut le nombre de mort ou le nombre total de personne affecté</p>
     </li>
  </ul>
  <pre>{{listStrings[2]}}</pre>
  <p><strong> Pour tout les type de catastophe confondu</strong> : </p>
  <p> Tout d'abord nous faisons une reqûetes par rapport au <strong>nombre totale de personne affecté</strong> directement et indiretement par la catastrophe</p>
  <details>
    <summary style="cursor: pointer;"><u>Afficher la requête</u></summary>
    <pre>{{listStrings[2]}}</pre>
  </details>
  <button id="button-2"(click)="queryRequestToGraphDB(2)"> Lancer la requête personnes affectées</button>
  <div id="chart-2"></div>
  <p> => <i> Analyse des résultats </i> : <strong>Vanatu</strong> est loin devant avec plus de 3 fois sa population actuelles, qui as été affecté par des catastrophes.</p>
  <p> Ensuite, nous faisons une reqûetes par rapport au <strong>nombre totale de personne décédées</strong> à cause de la catastrophe</p>
  <details>
    <summary style="cursor: pointer;"><u>Afficher la requête</u></summary>
    <pre>{{listStrings[3]}}</pre>
  </details>
  <button id="button-3"(click)="queryRequestToGraphDB(3)"> Lancer la requête personnes décédées</button>
  <div id="chart-3"></div>
  <p> => <i>Analyse des résultats</i> : <strong>Haiti</strong> est loin devant avec plus de <strong>2%</strong> de sa population actuelle qui est morte lors de catastrophes.</p>

  <p><strong>Pour les catastrophe naturelle</strong> :</p>
  <details>
    <summary style="cursor: pointer;"><u>Afficher la requête personnes affectées</u></summary>
    <pre>{{listStrings[4]}}</pre>
  </details>
  <button id="button-4"(click)="queryRequestToGraphDB(4)"> Lancer la requête personnes affectées</button>
  <div id="chart-4"></div>
  <details>
    <summary style="cursor: pointer;"><u>Afficher la requête personnes décédées</u></summary>
    <pre>{{listStrings[5]}}</pre>
  </details>
  <button id="button-5"(click)="queryRequestToGraphDB(5)"> Lancer la requête personnes décédées</button>
  <div id="chart-5"></div>
  <p> => <i>Analyse des résultats </i> : Le résultats <strong>ne change pas</strong> par rapport à en <strong>général</strong></p>

  <p><strong>Pour les catastrophe technologique</strong> :</p>
  <details>
    <summary style="cursor: pointer;"><u>Afficher la requête personnes affectées</u></summary>
    <pre>{{listStrings[6]}}</pre>
  </details>
  <button id="button-6"(click)="queryRequestToGraphDB(6)"> Lancer la requête personnes affectées</button>
  <div id="chart-6"></div>
  <p> => <i>Analyse des résultats </i> : Les <strong>Maldives</strong> sont loin devant avec <strong>la moitié</strong> de sa population qui as été affecté par des catastrophe technologique.</p>


  <details>
    <summary style="cursor: pointer;"><u>Afficher la requête personnes décédées</u></summary>
    <pre>{{listStrings[7]}}</pre>
  </details>
  <button id="button-7"(click)="queryRequestToGraphDB(7)"> Lancer la requête personnes décédées</button>
  <div id="chart-7"></div>
  <p> => <i>Analyse des résultats </i> <strong>Tuvalu</strong> loin devant avec <strong>0.15%</strong> de sa population acutelle morte dans des catastrophe technologique.</p>
  <h4>Conclusion</h4>
  <p>Les pays les plus affecté humainement sont ceux par des catastrophes <strong>naturelle</strong>. Les catastrophea <strong>technologique</strong> ont moins d&#39;impact, sauf pour les <strong>Maldives</strong> dans lequels il représente <strong>la moitée</strong> de la population.</p>
  <p>Sinon les 2 pays les plus affecté humainenemnt sont <strong>Haiti</strong> et <strong>Vanatu</strong>.</p>
  <h3>Quelles sont les pays qui sont le plus touché par les désastres économiquement?</h3>
  <ul>
     <li>Pour les catastrophe naturelle et technologique</li>
     <li>Par rapport à leurs PIB</li>
  </ul>
  <h4>Requête de base</h4>
  <p>Voici la requête de base, on fera varier les paramêtres pour répondre à tout.</p>
  <ul>
     <li>On fera varier le <code>rdf:type</code> de <code>?disaster</code> en fonction de si on veut une catastrophe naturelle ou technologique.</li>
  </ul>
  <pre>{{listStrings[8]}}</pre>
  <p><strong>En Général</strong> : </p>
  <button id="button-8"(click)="queryRequestToGraphDB(8)"> Lancer la requête dégats économique en générale</button>
  <div id="chart-8"></div>
  <p> => <i>Analyse des résultats </i> : On voit que la <strong>Dominique</strong> est 3 fois plus grandes que les 2 autres. C&#39;est elle est qui est le plus touché économiquement. Avec <strong>0.3%</strong> de son PIB qui équivaut au dégats subit par des catastrophe naturelle.</p>
  <p><strong>Pour les catastrophes naturelle</strong> : </p>

  <details>
    <summary style="cursor: pointer;"><u>Afficher la requête dégats économique catastrophe naturelles</u></summary>
    <pre>{{listStrings[9]}}</pre>
  </details>
  <button id="button-9" (click)="queryRequestToGraphDB(9)"> Lancer la requête dégats économique en générale</button>
  <div id="chart-9"></div>
  <p> => <i>Analyse des résultats </i> : Meme chose que pour en <strong>général</strong></p>

  <p><strong>Pour le catastrophes technologique</strong> : </p>

  <details>
    <summary style="cursor: pointer;"><u>Afficher la requête dégats économique catastrophe technologique</u></summary>
    <pre>{{listStrings[10]}}</pre>
  </details>
  <button id="button-10"(click)="queryRequestToGraphDB(10)"> Lancer la requête dégats économique en générale</button>
  <div id="chart-10"></div>
  <p> => <i>Analyse des résultats </i> : Complétement différent que pour les catastrophe naturelle. <strong>Lebanon</strong> est très <strong>loin devant</strong> mais sinon les autres pays sont négigable.</p>
  <h4>Conclusion</h4>
  <p>La <strong>Dominique</strong> est a plus touché par les catastrophe économiquement, mais sinon on revoit apparaitre <strong>Haiti</strong> en deuxième place.</p>
  <h2>6. Visualisez les résultats de cette requête dans une application</h2>
  Afin de pouvoir présentez notre travail nous avons utilisé le framework <strong>Angular</strong> que vous avons lié à l'API de graphDB afin de pouvoir executé nos requetes. Tout le code source de l'application est sur le <a href="https://github.com/LePeruvienn/BUT3-Web-Semantique"><strong>Github</strong></a>.
  <h2>7. Documentez le processus qui a mené à la mise en œuvre.</h2>
  Ce sites internet est notre sorte de petit rapport de projet ! Une autres versions est aussi disponbile sur <a href="https://github.com/LePeruvienn/BUT3-Web-Semantique"><strong>Github</strong></a> mais elle est très similaire.
  <h2>8. Conclusion !</h2>
  <p>Au cours de ce projet, nous avons importé et traité un grand volume de données afin d'explorer et de répondre à nos questions. Cependant, malgré les efforts déployés, nous avons constaté que toutes les données importées n'ont pas pu être pleinement exploitées. Certaines d'entre elles se sont révélées inutiles pour répondre à nos objectifs, tandis que d'autres ont généré des résultats trop limités ou insuffisamment satisfaisants pour apporter une réelle valeur ajoutée à l'analyse.</p>
  <p>Ces limitations nous rappellent l'importance d'une phase de sélection et de pré-traitement des données en amont, ainsi que les défis inhérents à la gestion des données hétérogènes et complexes. Néanmoins, ce travail nous a permis de mieux comprendre les enjeux liés à l'analyse des catastrophes naturelles et technologiques, tout en identifiant des pistes pour améliorer l'exploitation des données dans de futurs projets.</p>
  <h2>9. Essayer vous même !</h2>
  Voici un endroit pour effectuer des requetes SPARQL afin de pouvoir explorer nos données ! Amusez vous :)
  <textarea id="customQuery">
  </textarea>
  <button id="button-custom" (click)="customQuery()"> Lancer la requête </button>
</main>
