<main>
    <div class="hub-container">
      
      <section class="dropdown-section">
        <h2>Choose a request</h2>
         
        <textarea [(ngModel)]="customQuery" id="message" name="message" rows="20" cols="50" placeholder="Write something here..."></textarea><br><br>
        
        <button id="click" (click)="LoadData()"> LoadQuery </button>

      </section>
          
          <section class="graph-section" *ngIf="showGraph">
            <h2>Graph for the top contry with the most disaster</h2>
            
          </section>
          <div id="chart" class="chart">  
          </div>
    </div>
</main>