<main>
    <div class="hub-container">

        <section class="dropdown-section">
            <h2>Choose a Country</h2>
            <select [(ngModel)]="selectedCountry" (change)="onCountryChange()">
                <option value="" disabled selected>Select a Country</option>
                <option *ngFor="let country of listCountry" [value]="country">{{ country }}</option>
              </select>
          </section>

        <section class="graph-section" *ngIf="showGraph">
            <h2>Graph for {{ selectedCountry }}</h2>
            <div class="graph-placeholder">                
                <figure id="bar"></figure>
            </div>
        </section>

    </div>
</main>